<div [class]="grid" >
  <label>{{label}}</label> 
  <label *ngIf="required" class="red"> *</label> 
  <br>

  <div (click)="clean(); buscar = ''" [ngClass]="{'contenedor':true,'mensajeErrorSelectComponent':error}">
    <input
      [placeholder]="placeholder"
      [ngClass]="{'search':true,'mensajeErrorSelectComponent':error}"
      maxlength="250"
      type="text"
      [name] ="name"
      [(ngModel)]="buscar"
      (focusout)="validar()"
      (click)="buscar = ''"
      (keypress)="test($event)"
      (input)="onChange($event)">

    <span><i class="fas fa-chevron-down chevron"></i></span>
  </div>

  <ul class="resultados" *ngIf="showResultados">
      <li *ngFor="let elemento of label_elements | filterBy: buscar" (click)="onClick(elemento)">
        <option value="{{elemento}}">{{elemento}}</option>
      </li>

      <li *ngIf="(label_elements | filterBy: buscar).length === 0" style="padding: 20px">No hay elementos</li>
  </ul>

  <p *ngIf="error" class="errorMensajeSelectComponent">
      <i class="fas fa-exclamation-triangle errorIconoSelectComponent"></i>
      {{mensajeError}}
  </p>
</div>
