<div class="modal_black" style="position: fixed; background-color: rgba(51, 51, 51, 0.8);" *ngIf="show">
    <div class="modal_cuadro" style="top: 20%;">
      
      <p class="modal_header left-red mt-5 mb-5">{{titulo}}</p>

      <hr class="divisor-horizontal mt-10 mb-15">

      <div class="size-12 modal_content" [innerHTML]="texto">
      </div>

      <hr class="divisor-horizontal">
      
      <div *ngIf="!redireccion">
        <button class="button button-primary" style="float: right;" (click)="show = !show; showChange.emit(show)">CERRAR</button>
      </div>

      <div *ngIf="redireccion">
          <button class="button button-primary" style="float: right;" (click)="redireccionar()">CERRAR</button>
      </div>
    </div>
</div>
