<app-modal-cuentas
  #modal_cuentas
  [show]="showModal"
  (showChange)="addCuentas($event)">
</app-modal-cuentas>

<div class="container">
  
  <div class="row">
      <div class="col-xs-12 header-form mb-15">
          Características del inmueble asegurado
      </div>
  </div>

  <div class="row mb-25">
      <app-val-select 
        #tipo_vivienda
        [label]="'Tipo de vivienda'" 
        [(elementos)]="paises"
        [required]="true"
        [grid]="'col-sm-12 col-md-8 col-lg-4'"
        (change)="basicos.cve_tipovivienda = $event">
    </app-val-select>

    <app-val-select 
      #descripcion_vivienda
      [label]="'Descripción vivienda'" 
      [(elementos)]="paises"
      [required]="true"
      [grid]="'col-sm-12 col-md-8 col-lg-4'"
      (change)="basicos.cve_vivienda = $event">
     </app-val-select>

     <app-val-select 
      #situacion_vivienda
      [label]="'Situación de la vivienda'" 
      [(elementos)]="paises"
      [required]="true"
      [grid]="'col-sm-12 col-md-8 col-lg-4'"
      (change)="basicos.cve_findescan = $event">
     </app-val-select>

  </div>

  <div class="row mb-25">

    <app-val-select 
      #tipo_construccion
      [label]="'Tipo construcción'" 
      [(elementos)]="paises"
      [required]="true"
      [grid]="'col-sm-12 col-md-8 col-lg-4'"
      (change)="basicos.cve_tipoconst = $event">
  </app-val-select>

  <app-val-numero 
        #num_pisos
        [label]="'Número de pisos'"
        [name]="'num_pisos'"
        [maxlength]="2"
        [usarExpReg]="true"
        [textoExpReg]="integer_pattern"
        [numeroValue]="basicos.num_pisosinm"
        (numeroChange)="basicos.num_pisosinm = $event"
        [required]="true"
        [grid]="'col-sm-6 col-md-2 col-lg-2'">
    </app-val-numero>  

    <app-val-numero 
        #num_sotanos
        [label]="'Piso'"
        [name]="'num_sotanos'"
        [maxlength]="2"
        [usarExpReg]="true"
        [textoExpReg]="integer_pattern"
        [numeroValue]="basicos.num_pisosinm"
        (numeroChange)="basicos.num_pisosinm = $event"
        [required]="true"
        [grid]="'col-sm-6 col-md-2 col-lg-2'">
    </app-val-numero>  

    <app-val-select 
      #irregularidad_planta
      [label]="'Irregularidad en planta'" 
      [(elementos)]="paises"
      [required]="true"
      [grid]="'col-sm-12 col-md-8 col-lg-4'"
      (change)="basicos.sus_edi_bien = $event">
    </app-val-select>

  </div> 

  <div class="row mb-25">
 
    <app-val-select 
        #cercania_mar
        [label]="'Cercanía al mar'" 
        [(elementos)]="paises"
        [required]="true"
        [grid]="'col-sm-12 col-md-12 col-lg-11'"
        (change)="basicos.cer_fte_bien = $event">
    </app-val-select>
     
  </div>

 <div class="row mb-25">
 
    <app-val-select 
        #cercania_lago
        [label]="'Cercanía a lago, laguna o río'" 
        [(elementos)]="paises"
        [required]="true"
        [grid]="'col-sm-12 col-md-10 col-lg-8'"
        (change)="basicos.ant_des_bien = $event">
    </app-val-select>
     
  </div>

  <div class="row mb-25">
 
    <app-val-select 
        #cercania_postes
        [label]="'Cercanía de postes o anuncios espectaculares'" 
        [(elementos)]="paises"
        [required]="true"
        [grid]="'col-sm-12 col-md-8 col-lg-4'"
        (change)="basicos.cer_pos_bien = $event">
    </app-val-select>

    <app-val-select 
        #antiguedad
        [label]="'Antigüedad'" 
        [(elementos)]="paises"
        [required]="true"
        [grid]="'col-sm-12 col-md-8 col-lg-4'"
        (change)="basicos.cer_pos_bien = $event">
    </app-val-select>

    <div class="col-sm-12 col-md-8 col-lg-4">
        <app-val-select 
            #remodelada
            [label]="'Remodelada'" 
            [(elementos)]="paises"
            [required]="true"
            [grid]="'col-sm-12 col-md-12 col-lg-12 padding-0'"
            (change)="basicos.bnd_rem_bien = $event">
        </app-val-select>
        <a disabled class="col-sm-12 col-md-12 col-lg-12 mt-5 padding-0">
            Tipo de remodelación
        </a>
    </div>
     
  </div>

  <div class="row mb-25">

    <div class="col-sm-11 col-md-3 col-lg-3">
        <app-val-numero 
            #valor_construccion
            [label]="'Valor de la construcción'"
            [name]="'valor_construccion'"
            [maxlength]="10"
            [usarExpReg]="true"
            [textoExpReg]="moneda_pattern"
            [numeroValue]="basicos.valor_edificio"
            (numeroChange)="basicos.valor_edificio = $event"
            [required]="true"
            [grid]="'col-sm-12 col-md-12 col-lg-12 padding-0'">
        </app-val-numero>  
        <a disabled class="col-sm-12 col-md-12 col-lg-12 mt-5 padding-0">
           Calcular valor aproximado
        </a>
    </div> 

    <app-val-checkbox
        #medidas_seguridad
        [label]="'Medidas de seguridad'" 
        [name] = "medidas_seguridad"
        [required]="false"
        [options]="medidasSeguridadlist"
        [grid]="'col-sm-12 col-md-8 col-lg-4'"
        (toggle)="medidasSelected($event)"
        >
    </app-val-checkbox>

 </div>

  <hr class="divisor-horizontal mt-40">

    <div class="row row_margin">
        
        <button 
             class="button button-primary right" 
             (click)="continuar()">
             CONTINUAR
        </button>
        <button 
            class="button button-outline right" 
            (click)="regresar()">
            REGRESAR
        </button>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <app-mensaje-error
                [mensaje]="mensajeError.mensajeError"
                [heading]="mensajeError.headingError"
                [show]="mensajeError.mostrarMensajeError"
                (showEvent)="mensajeError.mostrarMensajeError = $event"
            ></app-mensaje-error>
        </div>
    </div>

</div>  
