/* You can add global styles to this file, and also import other style files */

/*form styles ******************************/
@font-face {
    font-family: "UniversNextforHSBCW01-Bd";
    src: url("assets/fonts/UniversNextforHSBCW01-Bd.woff") format("woff");
}

@font-face {
    font-family: "UniversNextforHSBCW01-Lt";
    src: url("assets/fonts/UniversNextforHSBCW01-Lt.woff") format("woff");
}

@font-face {
    font-family: "UniversNextforHSBCW01-Md";
    src: url("assets/fonts/UniversNextforHSBCW01-Md.woff") format("woff");
}

@font-face {
    font-family: "UniversNextforHSBCW01-Rg";
    src: url("assets/fonts/UniversNextforHSBCW01-Rg.woff") format("woff");
}

.header-form{
    font-weight: bold;
    color: #333333;
    font-family: 'UniversNextforHSBCW01-Bd';
    border-left: 5px solid red;
    padding-left: 10px;
}

.sub_heading{
   color: black;
   font-weight: bold;
   font-size: 15px;
   margin: 0px;
}

.header{
    font-family: 'UniversNextforHSBCW01-Rg';
    font-weight: bold;
    font-size: 14px;
    color: #333333;
    background-color: #EDEDED;
    height: 15px;
    border-bottom: 1px #D7D8D6;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 2px 1px lightgray;
}

.divisor-horizontal{
    width: 100%;
    border: 1px solid #929292;
    margin-bottom: 20px;
}

.button{
    font-family: 'UniversNextforHSBCW01-Rg';
    font-size: 14px;
    color: #FFFFFF;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
}

.button-primary{
    background-color: #DB0011;
}

.button-primary:hover{
    background-color: #AF000D;
}

.button-primary:active{
    background-color: #83000A;
}

.button-primary:disabled{
    background-color: #e6848c;
}

.button-secondary{
    background-color: #4D6474;
}

.button-secondary:hover{
    background-color: #3E505D;
}

.button-secondary:active{
    background-color: #253038;
}

.button-secondary:disabled{
    background-color: #dbdddf;
}

.button-outline{
    background-color: #fff;
    border: 1px solid #333333;
    color: #333333;
}

.button-outline:hover{
    background-color: #F5F3F3;
}

.button-outline:active{
    background-color: #E6E3E3;
}

.button-outline:disabled{
    color: #cfcccc;
}

.read_only_data{
    font-family: 'UniversNextforHSBCW01-Rg';
    font-weight: bold;
    font-size: 14px;
    color: #5c5c5c;
    margin-bottom: 10px;
}

.pipe{
    border-left: 1px solid #D7D8D6;
    padding-left: 10px;
    margin-bottom: 30px;
}

.nota{
    font-family: 'UniversNextforHSBCW01-Rg';
    font-size: 12px;
    color: #333333;
}

.req{
    position: absolute;
    content: '';
    top: 8px;
    color: #EF241C;
    font-size: 5px;
}

.returnButton{
    font-family: 'UniversNextforHSBCW01-Bd';
    text-decoration: none;
    color: #5c5c5c;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

.returnButton:hover{
    text-decoration: underline;
    color: #333333;
}

.container{
    width: 87%;
}

.row_margin{
    margin-bottom: 3%;
}

.warning{
    float: right;
    color: #AF000D;
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.warning_2{
    text-align: center;
    color: #AF000D;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.header-form span{
    font-family: 'UniversNextforHSBCW01-Rg';
    font-size: 12px;
    color: #929292;
}

.fa-chevron-left{
    color: #EF241C;
}

.red{
    color: red !important; 
}

.pointer{
    cursor: pointer;
}

a{
  color: #333333;
  text-decoration: underline;
  cursor: pointer;
}

a:hover{
   color: #333333;
   text-decoration: underline;
}

a[disabled] {
    color: #bbbbbb;
    text-decoration: none;
    cursor: default;
}

.a-disabled {
    color: #bbbbbb;
    text-decoration: none;
    pointer-events: none;
}

.a-disabled:hover {
    color: #bbbbbb;
    text-decoration: none;
    cursor: default;
}

.small{
   font-size: 12px;
}

.centro{
   text-align: center;
}

.shadow{
  -webkit-box-shadow: 2px 2px 5px #999;
  -moz-box-shadow: 2px 2px 5px #999;
  filter: shadow(color=#999999, direction=135, strength=2);
}
.left-red{
   border-left: 5px solid red;
   padding-left: 10px;
}

.size-12{
    font-size: 12px !important;
}

.size-11{
    font-size: 11px !important;
}

.modal_content{
    max-height: 300px;
    overflow: auto;
}

.modal_content_sm{
    max-height: 250px;
    overflow: auto;
}

.modal_pdf_content{
    height: 550px;
    overflow: auto;
}

label{
    font-family: 'UniversNextforHSBCW01-Rg';
    font-size: 14px;
    color: #333333;
}

.right{
    float: right;
}

.left{
    float: left;
}

.clear{
    clear: both;
}

.float-center-30{
    float: left;
    margin-left: 30%;
}

.textCenter{
    text-align: center;
}
.textLeft{
    text-align: left !important;
}
.textRight{
    text-align: right;
}
.textJustify{
    text-align: justify;
}
  
.verticalMiddle{
      vertical-align: middle !important;
}

/* márgenes ***************************************** */      
.pt-5{
    padding-top: 5px;
}

.pl-5{
    padding-left: 5px;
}

.pl-30{
    padding-left: 30px;
}

.pl-50{
    padding-left: 50px;
}

.pl-80{
    padding-left: 80px;
}

.mt-0{
    margin-top: 0px;
}

.mt-3{
    margin-top: 3px;
}

.mt-5{
    margin-top: 5px;
}

.mt-8{
    margin-top: 8px;
}

.mt-10{
    margin-top: 10px !important;
}

.mt-15{
    margin-top: 15px;
}

.mt-20{
    margin-top: 20px;
}

.mt-25{
    margin-top: 25px;
}

.mt-30{
    margin-top: 30px;
}

.mt-40{
    margin-top: 40px;
}

.mb-0{
    margin-bottom: 0px;
}

.mb-5{
    margin-bottom: 5px;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-15{
    margin-bottom: 15px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-25{
    margin-bottom: 25px;
}

.mb-30{
    margin-bottom: 30px;
}

.ml-30{
    margin-left: 30px;
}
.ml-20{
    margin-left: 20px;
}
.ml-15{
    margin-left: 15px;
}
.ml-10{
    margin-left: 10px;
}
.ml-5{
    margin-left: 5px;
}
.ml-3{
    margin-left: 3px;
}

.mr-200{
    margin-right: 200px;
}
.mr-10{
    margin-right: 10px;
}
.mr-5{
    margin-right: 5px;
}

.ma-5{
    margin: 5px;
}

.w-150{
    width: 150px;
}
.w-170{
    width: 170px;
}
.w-100-por{
    width: 100%;
}

.padding-0{
    padding-left: 0px;
    padding-right: 0px;
}

.padding-10{
    padding-left: 10px;
    padding-right: 10px;
}


.bold{
    font-weight: bold;
}

.size-10{
    font-size: 10px !important;
}

.size-12{
    font-size: 12px;
}

.size-13{
    font-size: 13px;
}

.table-cotiza{
 font-size: 12px;
 border: 0px;
 width: 100%;
}

.table-cotiza td{
    padding: 3px;
}

.input-readonly{
    opacity: 1;
}

.border-gray{
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 10px;
}
/* val_texto.components ******************/

.textoComponent{
    width: 100%;
    font-family: 'UniversNextforHSBCW01-Rg';
    background: #FFFFFF;
    border: 1px solid #929292;
    height: 30px;
    padding: 3px;
}

.textoComponent:hover , .textoComponent:focus{
    border: 1px solid #376798;
}

.textoComponent:focus , .textoComponent:active{
    color: #333333;
}

.textoComponent:disabled{
    opacity: .5;
}

.textoComponent:read-only{
    opacity: .8;
}

.errorTextoComponent{
    background-color: #F9F2F3;
    border: 1px solid #AF000D;
    color: #333333;
}

.mensajeErrorTextoComponent{
    font-size: 12px;
    color: #333333;
}

.errorIconoTextoComponent{
    height: 1.5px;
    color: #AF000D;
}

.row_margin{
    margin-bottom: 5px;
}



/* val_numero.components ******************/

.numero{
    background-color: #ffffff;
    border: 1px solid #929292;
    height: 30px;
    width: 100%;
    font-size: 14px;
    color: #333333;
    padding: 10px;
    margin-bottom: 40px;
}

.numero:hover , .numero:focus{
    border: 1px solid #376798;
}

/* modal.component ******************************/

.modal_black {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 99999 !important;
}

.modal_header{
    font-family: 'UniversNextforHSBCW01-Rg';
    font-weight: normal;
    font-size: 16px;
}


.modal_cuadro{
    position: fixed;
    top: 10%;
    left: 19.7%;
    width: 60%;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    z-index: inherit;
    box-shadow: 3px 3px #929292;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 30px;
    font-family: 'UniversNextforHSBCW01-Rg';
    text-align: justify;
}

.modal_cuadro h1{
    text-align: center;
}


/* radio.component *******************/

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    left: 2px;
    top: 2px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    left: 2px;
    top: 2px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.radioComponent input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.radioComponent{
    background-color: #ffffff;
    border: 1px solid #929292;
    height: 20px;
    width: 20px;
}

.radioComponent + span{
    font-family: 'UniversNextforHSBCW01-Rg';
    font-size: 14px;
    color: #333333;
}

/* tooltip  ***************************************/
.tooltip {
    position: relative;
    display: inline-block;
 }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  /* val-combo.component   **************************************/

  .custom-select {
   height: 35px;
   width: 100%;
   border: 1px solid #929292; 
   padding: 5px 5px 5px 5px;
  }

  
  /* val-select.component   **************************************/
.contenedor{
    border: 1px solid #929292;
    padding: 1px;
    cursor: pointer;
}

.contenedor:hover{
    border: 1px solid #376798;
}

.contenedor > input.search{
    width: 90%;
    border: none;
    height: 30px;
    cursor: pointer;
}

.contenedor > span{
    /* width: 20px; */
    float: right;
    border-left: 1px solid black;
}

.contenedor:hover > span.chevron{
    color: #376798;
}

.search{
    font-family: 'UniversNextforHSBCW01-Rg';
    background-color: #ffffff;
    font-size: 14px;
    color: #333333;
}

.chevron{
    color: #333333;
    font-size: 12px;
    padding: 9px;
}

.resultados{
    max-height: 400px;
    overflow-x: auto;
    width: 90%;
    list-style: none;
    border: 1px solid #929292; 
    margin: 0;
    margin-top: 5px;
    box-shadow: 2px 2px #929292;
    padding: 0;
    position: absolute;
    z-index: 9999999 !important;
    background: #fff;
}

.resultados option{
    width: 100%;
    padding-left: 20px;
    cursor: pointer;
    padding-left: 20px;
}

.resultados ul{
    cursor: pointer;
}

.resultados li:hover{
    background-color: #929292;
    color: #ffffff;
}

#buscar{
    border: none;
    width: 99%;
}

.mensajeErrorSelectComponent{
    color: #333333;
    border: 1px solid #AF000D;
    background-color:#F9F2F3;
}

.errorMensajeSelectComponent{
    font-family: 'UniversNextforHSBCW01-Rg';
    font-size: 12px;
    color: #333333;
}

.errorIconoSelectComponent{
    color: #AF000D;
}


/* val-checkbox.component   **************************************/

   .checkboxContainer {
    font-family: 'UniversNextforHSBCW01-Rg';
    font-size: 14px;
    color: #333333;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: solid #929292;
    border-width: 1px;
  }
  
  .checkboxContainer:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkboxContainer input:checked ~ .checkmark {
    background-color: #ffffff;
    color: #333333; 
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkboxContainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkboxContainer .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #333333;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
/*  mensaje-error.component  *********************************/  
.headingErrorComponent{
    font-family: 'UniversNextforHSBCW01-Rg';
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
}

.descriptionErrorComponent{
    font-family: 'UniversNextforHSBCW01-Rg';
    font-size: 14px;
    color: #FFFFFF;
}

.iconErrorComponent{
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}

.closeErrorComponent{
    font-family: 'UniversNextforHSBCW01-Rg';
    font-size: 14px;
    color: #FFFFFF;
}

.closeErrorComponent:hover{
    text-decoration: underline;
    cursor: pointer;
}

.errorComponent{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #AF000D;
    padding: 20px;
    margin-bottom: 20px;
}

/*  val-checkbox.component  *********************************/ 

.mensajeErrorRadioComponent{
    color: #333333;
    background-color:#F9F2F3;
}

/*  tabla  *********************************/ 

.table{
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ddd;
}

.header-title{
    font-family: "UniversNextforHSBCW01-Bd";
    font-size: 12px;
    color: #333333;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #EDEDED;
    border-top: 1px solid #929292;
    border-bottom: 1px solid #929292;
    text-align: center;
}

.data{
    font-family: "UniversNextforHSBCW01-Rg";
    font-size: 12px;
    color: #333333;
}

.data_row{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #929292;
    border-top: 1px solid #929292;
}
